* {
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: Brush Script MT;
    font-size: 120px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
}
.nav ul {
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 2em;
    font-weight: lighter;

}
.main-header {
    background-image: url(Images/jade.jpg);
    background-size: cover;
    padding-bottom: 20px;
    height: 450px;
}